<!-- this will show at every article content's bottom -->

<p><strong>你的支持是我的动力。你可以通过以下方式支持我6：</strong></p>
<!-- {% assign _root_path = page.path | slice: 0, 5 %} -->
<!-- {% assign _lang = page.lang | slice: 0, 2 %} -->
<!-- {%- if _root_path == '_docs' -%} -->
  <!-- {%- if _lang == 'zh' -%} -->
    <div class="article__content ">
      <hr />
      <p><strong>你的支持是我的动力。你可以通过以下方式支持我2：</strong></p>
      <ul>
        
        <li>关注我的 Github&nbsp;<a style="vertical-align: text-bottom;"  href="https://github.com/oldhumble/">
          <img src="https://img.shields.io/github/followers/oldhumble.svg?label=Follow&style=social" alt="关注我的 Github" />
        </a></li>
        <li>打赏</li>
      </ul>
      <!-- <table>
        <thead><tr>
          <th>微信支付</th>
          <th>支付宝</th>
        </tr></thead>
        <tbody><tr>
          <td>
              <img style="max-width: 150px; max-height: 150px" src="/tip_wechat.jpg" alt="微信支付二维码" />
            
           </td>
          <td>
              <img style="max-width: 150px; max-height: 150px" src="/tip_alipay.jpg" alt="支付宝二维码" />
              
        </td>
        </tr></tbody>
      </table> -->
    </div>
<!-- 
  {%- else -%}
    <div class="my-3">
      <div class="my-2"><a href="https://www.paypal.me/yujiancao">
          <img src="https://img.shields.io/badge/yujiancao-paypal-blue" alt="Tip Me via PayPal" /></a>       
      </div>
    </div>
  {%- endif -%} -->
<!-- {%- endif -%} -->
<!-- end custom article footer snippet -->